.fc {
  :global {
    .fc-col-header-cell-cushion {
      .weekday {
        display: block;
        font-weight: normal;
      }
      .day {
        font-weight: $font-weight-primary;
        font-size: $font-size-medium;
      }
    }
    .fc-timegrid-event-harness {
      margin-left: 0 !important;
      margin-right: 0 !important;
      left: 0 !important;
      right: 0 !important;
    }
    .fc-theme-standard {
      .fc-event {
        background: $color-william;
        border-color: $color-william;
        .el-checkbox {
          margin-left: 10px;
          &__inner {
            border-color: $color-white;
            background: $color-william;
            &:hover {
              border-color: $color-white;
              background: darken($color-william, 10%);
            }
          }
          &__input {
            &.is-checked {
              .el-checkbox__inner {
                background: $color-white;
                border-color: $color-white;
                &::after {
                  height: 9px;
                  width: 4px;
                  border-color: $color-william;
                }
              }
            }
          }
        }
        &.fc-event-expanded {
          cursor: default;
          &.fc-event-hoverable {
            opacity: 1;
          }
          .fc-content {
            flex-direction: column;
            align-items: flex-start;
            padding: 0 7px;
            .fc-time {
              width: 100%;
              padding-left: 12px;
              padding-right: 25px;
              font-weight: $font-weight-primary;
            }
            .btn-collapse {
              position: absolute;
              top: 7px;
              right: 7px;
            }
            .btn-pick-time {
              margin-top: auto;
              margin-bottom: 7px;
              border-radius: 4px;
              width: 100%;
              padding-top: 5px;
              padding-bottom: 5px;
              height: 25px;
            }
            .btn-collapse,
            .btn-pick-time {
              background: darken($color-william, 10%);
              border-color: darken($color-william, 10%);
              color: $color-white;
              &:hover {
                background: $color-white;
                border-color: $color-white;
                color: $color-text-primary;
              }
            }
          }
        }
        &.fc-event-hoverable {
          opacity: 0;
          transition: opacity 0.15s;
          background: $color-primary;
          border-color: $color-primary;
          .fc-time {
            font-weight: $font-weight-bold;
          }
          &.fc-event-chosen,
          &:hover {
            opacity: 1;
          }
          .el-checkbox {
            &__inner {
              background: $color-primary;
              &:hover {
                background: #00959a;
              }
            }
            &__input {
              &.is-checked {
                .el-checkbox__inner {
                  &::after {
                    border-color: $color-primary;
                  }
                }
              }
            }
          }
          &.fc-event-expanded {
            .btn-collapse,
            .btn-pick-time {
              background: #00959a;
              border-color: #00959a;
            }
          }
        }
        &.fc-event-appoinment {
          cursor: default;
        }
        &.fc-event-busy {
          :not(.fc-content-line) {
            .fc-title {
              margin-top: 5px;
            }
          }
        }
      }
      .fc-event-expanded-harness {
        min-height: 80px;
        z-index: 10 !important;
      }
    }
  }
}
