// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'SansSerifBldFLF';
  src: url('~/assets/fonts/Open_Sans-400-greek-ext3.woff2') format('woff');
  font-weight: 500;
  font-style: normal;
}
