.OlivAC-loader {
  position: relative;
  font-size: 10px;
  text-indent: -9999em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #0baba6;
  background: linear-gradient(to right, #0baba6 10%, rgba(11, 171, 166, 0) 42%);
  animation: loader-rotate 0.5s infinite linear;
  transform: translateZ(0);
  &::before {
    content: '';
    top: 0;
    left: 0;
    background: $color-primary;
    width: 50%;
    height: 50%;
    border-radius: 100% 0 0 0;
    position: absolute;
  }
  &::after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $color-white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    margin: auto;
    position: absolute;
  }
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
